// 1. Import the initial variables
@import "bulma.min";
@import "../node_modules/bulma/sass/utilities/_all";
@font-face {
  font-family: "Arnhem Fine Normal";
  src: url("../fonts/ArnhemFine-Normal.woff2") format("woff2");
}
@font-face {
  font-family: "Arnhem Fine Medium";
  src: url("../fonts/ArnhemFine-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Arnhem Fine Medium Italic";
  src: url("../fonts/ArnhemFine-MediumItalic.woff2") format("woff2");
}

$body: "Arnhem Fine Normal", "ShueiMinPr6N-L", "秀英明朝 L", "DNPShueiMinPr6-L", serif;
$bold: "Arnhem Fine Medium", "ShueiMinPr6N-B", "秀英明朝 B", "DNPShueiMinPr6-B", serif;
$head-it: "Arnhem Fine Medium Italic", serif;
$head-en: "Arnhem Fine Medium", serif;

$gray: #888;
$lightgray: #ccc;

img {
  vertical-align: top;
}
body {
  font-size: 15px;
  font-family: $body;
  color: #111111;
  line-height: 1.7;
  @include touch {
    font-size: 14px;
    line-height: 1.6;
  }
}
.head {
  margin: 50px;
  padding-bottom: 50px;
  @include mobile {
    margin: 50px 20px;
    padding-bottom: 20px;
  }
  &__title {
    font-family: $body;
    font-size: 32px;
    letter-spacing: 6px;
  }
  &__subtitle {
    font-family: $body;
    color: $gray;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 40px;
  }
  &__date {
    font-family: $head-it;
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  &__close {
    margin-bottom: 40px;
    line-height: 1.3;
  }
  &__logo {
    width: 80px;
    display: block;
    margin-left: -3px;
    margin-bottom: 5px;
    transition: all ease 0.4s;
    &:hover {
      opacity: 0.5;
    }
  }
  &__dm {
    color: #111;
    font-size: 18px;
    border-bottom: 1px solid #111;
    padding-bottom: 1px;
    transition: all ease 0.4s;
    &:hover {
      opacity: 0.5;
    }
  }
  &__artists {
    margin-bottom: 30px;
    &--gray {
      color: $gray;
    }
  }
  &__greeting {
    text-align: justify;
  }
}
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  img {
    width: 100%;
  }
  &__item--c {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    position: relative;
    &::after {
      content: "atelier une place";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--h {
    grid-row: 4 / 6;
    grid-column: 1;
    position: relative;
    &::after {
      content: "石原真理";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--i {
    grid-row: 4 / 6;
    grid-column: 2;
    position: relative;
    &::after {
      content: "百草アトリエ";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--d {
    grid-row: 10 / 12;
    grid-column: 1;
    position: relative;
    &::after {
      content: "KIMURA`";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--a {
    grid-row: 10 / 13;
    grid-column: 2;
    position: relative;
    &::after {
      content: "Organic Vegan Sweets";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--e {
    grid-row: 12 / 14;
    grid-column: 1;
    position: relative;
    &::after {
      content: "entrepôt";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--j {
    grid-row: 14 / 16;
    grid-column: 1;
    position: relative;
    &::after {
      content: "Jingoro";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--f {
    grid-row: 13 / 16;
    grid-column: 2;
    position: relative;
    &::after {
      content: "atelier une place";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--l {
    grid-row: 20 / 22;
    grid-column: 2;
    position: relative;
    &::after {
      content: "喫茶クロカワ";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--k {
    grid-row: 20 / 22;
    grid-column: 1;
    position: relative;
    &::after {
      content: "Organic Vegan Sweets";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--b {
    grid-row: 6 / 10;
    grid-column: 1 / 3;
    position: relative;
    &::after {
      content: "山口和宏";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--g {
    grid-row: 16 / 20;
    grid-column: 1 / 3;
    position: relative;
    &::after {
      content: "atelier une place";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--m {
    grid-row: 22 / 24;
    grid-column: 1;
    position: relative;
    &::after {
      content: "Organic Vegan Sweets";
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0.5;
      color: #111;
      font-size: 14px;
      font-family: $body;
    }
  }
  &__item--o {
    grid-row: 22 / 24;
    grid-column: 2;
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__item--p {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}

.contents {
  &__newyear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    color: $gray;
    @include mobile {
      font-size: 14px;
    }
  }
  &__body {
    letter-spacing: 1px;
    text-align: justify;
    @include tablet-only {
      margin-right: 20px;
      font-size: 14px;
    }
    @include mobile {
      margin-right: 20px;
      margin-left: 20px;
      font-size: 14px;
    }
    &--head {
      font-family: $bold;
    }
    &--gray {
      color: $gray;
    }
    &--maps {
      color: #111;
      border-bottom: 1px solid #111;
      transition: ease all 0.4s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.space {
  height: 200px;
  @include mobile {
    height: 50px;
  }
}
.maps {
  height: 800px;
  @include mobile {
    height: 400px;
  }
}

footer {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-family: $head-it;
}
